<div class="row">
  <div class="col-xs-3">
    <h2>User info</h2>
    <img class="attachment user profile_image fallback" src="/assets/no_image-ede28af4bad96368ef41be1b4be1cffce0d9402540f75d17895e32cb0d2af5e6.jpg" alt="No image">
    <table class="table">
      <tbody>
        <tr></tr> 
        <tr>
    	    <th>name</th>
    	    <th><%= current_user.name %></th>
        </tr>
        <tr>
    	    <th>introduction</th>
    	    <th><%= current_user.introduction %></th>
        </tr>
      </tbody>
    </table>

    <div class="row">
      <a class="col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_21146" href="/users/21146/edit"></a>
    </div>

    <h2>New book</h2>
    <%= form_for(@book, url: books_path) do |f| %>
      <% if @book.errors.any? %>
        <div id="error_explanation">
          <h2><%= @book.errors.count %>errors prohibited this obj from being saved:</h2>
          <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="field row">
        <%= f.label :title %><br />
        <%= f.text_field :title, class:"col-xs-12 book_title", id:"book_title" %>
      </div>
      <div class="field row">
        <%= f.label :opinion %><br />
        <%= f.text_area :body, class:"col-xs-12 book_body", id:"book_body" %>
      </div>
      <div class="actions row">
        <%= f.submit "Create Book", class:"btn btn-primary col-xs-12" %>
      </div>
    <% end %>
  </div>

  <div class="col-xs-9">
		<h2>Book detail</h2>
		<table class="table">
		  <tbody>
		    <tr>
          <td>
            <a href="/users/21146">
              <img class="attachment user profile_image fallback" src="/assets/no-image-icon-d3f9e11cb2bb284b42e0810f94b03c50126f51f482ea43054b87c2b7ebaa01d5.jpg" alt="No image icon"><br>
            Hachi
            </a>        
          </td>
          <td><%= link_to @find_book.title, book_path(@find_book) %></td>
          <td><%= @find_book.body %></td>
          <td><a class="btn-sm btn-success edit_book_33409" href="/books/33409/edit">Edit</a></td>
          <td><%= link_to "Destroy", book_path(@find_book), method: :delete %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>